header{
	text-align:center;
	font-style:bold;
	background-color:yellow;
	margin:auto;
	padding:10px;
}
body{
	background-color:beige;
	text-align:center;
	justify-content:center;
	align-items:center;
	display:inline;
}
#summary{
	font-style:italic;
	background-color:red;
}
h2{
	background-color:brown;
	font-weight:bold;
	font-family:Arial;
	font-size:19px;
}
footer{
	background-color:brown;
	font-style:italic;
	font-weight:bold;
}
/* Your CSS Code here. */